@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --color-principal: grey;
    --color-fondo: #f9f9f9;
    --color-texto: #333333;
    --color-resaltado: red;
    --fuente-titulo:"Monserrat",sans serif;
    --fuente-parrafo:"Monserrat",sans serif;
}


p{
    font-family: var(--fuente-parrafo);
    color: var(--color-texto);
}
nav.socialLinks a {
    text-decoration: none;
}
nav a {
    text-decoration: none;
    color: var(--color-texto);
}
body{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: var(--color-fondo)
}

.hero{
    position: relative;
}
.hero h1{
    position:absolute;
    top: 20px;
    left: 135px;
}
.hero img{
    max-width:100%;
    height: auto;
    position: relative;
}
.hero article{
    position: absolute;
    top: 0;
    left: 0;
    background-color: wheat;
    padding: 20px;
    width: 300px;
    color: var(--color-texto);
}
.hero article p{
    color: var(--color-texto);
}
.hero article img{
    float: left;
}
.hero p{
    text-align: center;
    position: relative;
}