@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inter:wght@100..900&display=swap');

:root{
    --primary-color:#653239;
    --secondary-color:#b79492;
    --accent-color:#ccc7b9;

    --heading-font: "Merriweather:ital@1";
    --paragraph-font:Helvetica;

    --heading-font:#eaf9d9,serif;
    --paragraph-font:#eaf9d9,serif;

    ----nav--background-color:#af7a6d;
    --nav-link-color:#653239;
    --nav-hover-link-color:#eaf9d9;
    --nav-hover-background-color:#af7a6d;

}
body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header{
    padding: 20px;
    background-color: var(--accent-color);
}
p{
    padding: 25px;
}
nav{
    background-color: var(--nav--background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a{
    display:block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a :visited{
    color: var(--nav-link-color);
}
nav a:hover{
    color:var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}