/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8; /* Gris claro */
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #1e90ff; /* Azul suave */
}

a:hover {
    text-decoration: underline;
}

/* Encabezado */
.header {
    background-color: #fafafa; /* Blanco suave */
    padding: 10px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    max-width: 150px;
}

.navigation {
    list-style: none;
}

.navigation li {
    display: inline;
    margin-right: 20px;
}

.navigation li:last-child {
    margin-right: 0;
}

/* Sección de llamado a la acción */
.cta-section {
    background-color: #f0f0f0; /* Gris claro */
    color: #333;
    padding: 50px 0;
    text-align: center;
}

.cta-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Sección de descripción de viajes */
.trip-description {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.trip {
    flex: 0 1 calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #fff; /* Blanco */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.trip img {
    max-width: 100%;
    margin-bottom: 10px;
}

.trip h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.trip p {
    font-size: 16px;
}

/* Pie de página */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer .socialLinks a {
    margin: 0 10px;
}

.footer .socialLinks img {
    width: 30px;
    height: 30px;
}

.footer p {
    margin-bottom: 10px;
}
